    body {
        font-family: Arial, Helvetica, sans-serif;

    }

    nav {

        background-color: #4D55CC;
        text-align: center;

    }

    .menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: inline-flex ;

    }

    .menu li a {
        display: block;
        padding: 15px 20px;
        color: rgb(12, 26, 26);
        text-decoration: none;
        position: relative;
    }

    .menu li a:hover {
        background-color: #ffffff;
    }

    .submenu {
        display: none;
        position: absolute;
        background-color: #419197;
        list-style-type: disc;
        padding: 0;
        margin: 0;
    }

    .menu li :hover .submenu {
        display: block;
    }

    .submenu li a{
        padding: 10px 15px;
    }

    .submenu li a:hover {
        background-color: aquamarine;
    }